
.grid-item { 
    width: 30%; 
margin: 10px;}


img {
    width: 100%;
  
}




/* SMARTPHONE MODE PORTRAIT */
@media screen and (orientation: portrait) {

.grid-item { 
        width: 90%; 
    margin: 5px;}

}