
@font-face {
    font-family: police1;
    src: url(fonts/OfficeCodeProD-Medium.ttf);
}

body {
    font-family: police1;
}


h2 {
    border-bottom: solid 4px black;
}

#article1,#article2,#article3,#article4,#article5 {
    display: none;
}




/* SMARTPHONE MODE PORTRAIT */
@media screen and (orientation: portrait) {

   

}