code {
  border: solid 1px blue;
  width: 100%;
  display: inline-block;
}

audio,
a[href$=".mp3"],
a[href$=".m4v"],
a[href$=".mp4"] {
  display: none;
}



@font-face {
  font-family: police1;
  src: url("fonts/ApfelGrotezk-Regular.otf");
}

/* NEW AUDIO PLAYER */

body {
  background-color: white;
  font-family: police1;
  color:black;
  
}

#bgimg {
 
}

h1 {
  width: 50%;
 
}

#ss_titre {

}

h2 {
  display: inline-block;
}

#rss img{
  width: 2%;
  display: inline-block;
  position: relative;
  top : -5px;
  left: 15px;
}

p {
  width: 50%;
}

#podcast {
  width: 80%;
  margin-left: 50px;
}




/*-------------- AUDIO PLAYER --------------*/

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

video#jp_video_0 {
  position: absolute;
  left: 10px;
  bottom: 93px;
}

.no-flexbox .audio-player {
  display: none;
}

.flex-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.jp-controls.flex-item {

}


/*GC*/

.flex-item {
  margin: 0 10px;
}

.flex-item:first-of-type {
  margin-left: 0;
}

.jp-now-playing img#mini_poster {
  max-height: 50px;
  width: auto;
  float: left;
  margin-right: 10px;
}

.jp-progress-container.flex-item {
  margin-right: 0;

  flex-grow: 2;
  flex-shrink: 2;
}

.jp-now-playing.flex-item {
  flex-basis: 295px;
}

.jp-toggles.flex-item {

}

.jp-volume-controls.flex-item {
  flex-basis: 155px;
}

.jp-audio,
.jp-audio-stream,
.jp-video {
  background: rgba(0, 0, 0, 0.85);
  padding: 15px;
  position: relative;
}


/*Controls*/

.jp-playlist {
  display: none;
}

.jp-interface .jp-controls button,
.jp-interface .jp-toggles button,
.jp-interface .jp-volume-controls button {
  background: none;
  border: none;
  outline: none;
  color: #7b7c8b;
  line-height: 24px;
  font-weight: 600;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition: all 0.2s linear;
  font-size: 20px;
  padding: 0 5px;
}

.jp-interface .jp-controls .jp-play i,
.jp-interface .jp-controls .jp-previous i,
.jp-interface .jp-controls .jp-next i {
  font-size: 23px;
  color: #FFF;
}

.jp-interface .jp-controls .jp-play {
  border: solid 3px #FFF;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin: 0 5px;
}

.jp-interface .jp-controls .jp-play i {
  padding-left: 5px;
  padding-top: 2px;
}

.jp-audio.jp-state-playing .jp-play i {
  padding-left: 0px;
}

.jp-audio.jp-state-seeking .jp-play i:before {
  content: "\f1ce" !important;
  /*  content: "\f021" !important;*/
  /*  content: "\f110" !important;*/
  /*
  padding-left: 0 !important;
  padding-top: 2px !important;
*/
  /*  padding-top: 2px;*/
}

.jp-audio.jp-state-playing .jp-play i:before {
  content: "\f04c";
  /*  content: "\f04c" !important;*/
}

img#jp_poster_0 {
  display: none !important;
}


/* GC SPIN */

.jp-audio.jp-state-seeking .jp-play,
.playing.buffering {
  display: inline-block;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*Progress bars*/

.jp-progress-container,
.jp-volume-bar-container {
  height: 30px;
  padding: 10px;
}

.jp-progress,
.jp-seek-bar,
.jp-play-bar,
.jp-volume-bar,
.jp-volume-bar-value {
  height: 8px;
  border-radius: 1px;
}

.jp-progress {
  margin: 0 50px;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.jp-seek-bar,
.jp-volume-bar {
  cursor: pointer;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.jp-play-bar {
  float: left;
  position: relative;
  /*  background-color: #00c85f;*/
  background-color: #04a9f3;
  border-radius: 5px;
  overflow: visible !important;
}

.jp-volume-bar-value {
  float: left;
  position: relative;
  background-color: #aaaaaa;
}

.jp-progress .bullet,
.jp-volume-bar .bullet {
  position: absolute;
  content: "";
  top: -5px;
  right: -7px;
  height: 18px;
  width: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.jp-time-holder {
  position: relative;
  top: 0;
  color: #979797;
  font-size: 12px;
}

.jp-time-holder .jp-current-time {
  position: absolute;
  left: 0;
  top: -3px;
}

.jp-time-holder .jp-duration {
  position: absolute;
  right: 0;
  top: -3px;
}


/* Track & Artist */

.jp-now-playing {
  padding: 0 10px;
}

.jp-track-name {
  color: #c9c9c9;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

.jp-artist-name {
  color: #6d6d6d;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 245px;
}


/* Toggles */

.jp-toggles button {
  margin: 0 3px;
}

.jp-toggles button:hover {
  color: #FFF;
}

.jp-state-looped .jp-toggles .jp-repeat,
.jp-state-shuffled .jp-toggles .jp-shuffle,
.jp-interface .jp-toggles .playlist-is-visible.jp-show-playlist {
  color: #04a9f3;
  /*  color: #00c85f;*/
}


/* Volume Controls */

.jp-volume-controls button {
  float: left;
}

.jp-volume-controls .jp-volume-bar {
  margin-left: 40px;
  margin-top: 8px;
}

.jp-state-muted .jp-mute i:before {
  content: "\f026" !important;
}

.jp-volume-bar,
.jp-volume-bar-value {
  border-radius: 5px;
}

.jp-state-no-volume .jp-volume-controls {
  display: none;
}


/* Playlist  */

.jp-playlist {
  position: absolute;
  right: 65px;
  bottom: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 25px;
  width: 400px;
}

.jp-playlist ul {
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow: auto;
}

.jp-playlist li {
  list-style: none;
}

.jp-playlist li a {
  color: #c9c9c9;
  display: block;
  padding: 10px 0;
  outline: none;
  border-bottom: 1px solid #1F1F1F;
}

.jp-playlist li:last-child a {
  border-bottom: 0;
}

.jp-playlist li a:hover,
.jp-playlist li a:focus,
.jp-playlist li a:active,
a.jp-playlist-item.jp-playlist-current {
  color: #04a9f3;
  /*  color: #00c85f;*/
  text-decoration: none;
}

.jp-playlist li a span {
  color: #6d6d6d;
}


/* ==================== Media Query ==================== */

@media (max-width: 992px) {
  .jp-now-playing {
    display: none;
  }
}

@media (max-width: 767px) {
  .jp-volume-bar,
  .jp-volume-bar .bullet,
  .jp-time-holder {
    display: none !important;
  }
  .jp-progress-container.flex-item {
    /*
    -ms-flex-preferred-size: 140px;
        flex-basis: 140px;
*/
    padding: 12px 15px;
  }
  .jp-progress .bullet {
    right: -10px;
  }
  .jp-volume-controls.flex-item {
    flex-basis: 33px;
  }
  .jp-progress {
    margin: 0;
  }
  .jp-interface .jp-controls .jp-play {
    margin: 0 3px;
  }
  .jp-interface .jp-controls .jp-play i,
  .jp-interface .jp-controls .jp-previous i,
  .jp-interface .jp-controls .jp-next i {
    font-size: 16px;
  }
  .jp-interface .jp-controls .jp-play {
    width: 42px;
    height: 42px;
  }
  .jp-interface .jp-controls .jp-play i {
    padding-left: 3px;
    padding-top: 0;
  }
  .jp-state-playing .jp-interface .jp-controls .jp-play i {
    padding-left: 0;
  }
  .jp-controls.flex-item {
    /*
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
*/
    margin: 0 10px;
  }
  .jp-controls.flex-item:first-of-type {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .jp-toggles,
  .jp-playlist {
    display: none !important;
  }
}


/* GC */

.jp-interface .jp-controls button,
.jp-interface .jp-toggles button,
.jp-interface .jp-volume-controls button {
  font-size: 18px;
}