
<!--
    Rappel des balises pour structurer votre intégration de textes:
    <p></p> paragraphes
    <i></i> texte italique
    <b></b> texte en gras
    <span></span> focus sur un mot ou phrase
    <h1><h2><h3> ... différents niveaux de titres
    <div></div> groupe de texte, ou de médias
    <a href="url de redirection" target="_blank"> Ceci est un lien </a>  créer un lien de redirection
    &nbsp;   espace insécable


    le raccourci alt+z sur Visual Studio Code permet d'avoir 
    une meilleur visualisation de vos balise HTML
-->

<head>   
<title> ARTICLE A3 TEMPLATE  </title>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
</head>


<body>
<div id="en-tete">
<h1>Proinde die funestis interrogatio</h1>
<h2>Sed cautela nimia in peiores</h2>
<h2>Similia Formidabat</h2>
</div>    

<p id="intro">
    Cuius acerbitati uxor grave accesserat incentivum, germanitate Augusti turgida supra modum, quam Hannibaliano regi fratris filio antehac Constantinus iunxerat pater, Megaera quaedam mortalis, inflammatrix saevientis adsidua, humani cruoris avida nihil mitius quam maritus; qui paulatim eruditiores facti processu temporis ad nocendum per clandestinos versutosque rumigerulos conpertis leviter addere quaedam male suetos falsa et placentia sibi discentes, adfectati regni vel artium nefandarum calumnias insontibus adfligebant.
</p>    



<div id="contenu">

<p>Per hoc minui studium suum existimans Paulus <sup>1</sup>, ut erat in conplicandis negotiis artifex dirus, unde ei Catenae inditum est cognomentum, vicarium ipsum eos quibus praeerat adhuc defensantem ad sortem periculorum communium traxit. et instabat ut eum quoque cum tribunis et aliis pluribus ad comitatum imperatoris vinctum perduceret: quo percitus ille exitio urgente abrupto ferro eundem adoritur Paulum. et quia languente dextera, letaliter ferire non potuit, iam districtum mucronem in proprium latus inpegit. hocque deformi genere mortis excessit e vita iustissimus rector ausus miserabiles casus levare multorum.</p>

<p>Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.</p>

<p id="citation">«Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur.»</p>

<p>Post hoc impie perpetratum quod in aliis quoque iam timebatur, tamquam licentia crudelitati indulta per suspicionum nebulas aestimati quidam noxii damnabantur. quorum pars necati, alii puniti bonorum multatione actique laribus suis extorres nullo sibi relicto praeter querelas <sup>2</sup> et lacrimas, stipe conlaticia victitabant, et civili iustoque imperio ad voluntatem converso cruentam, claudebantur opulentae domus et clarae.</p>

<img src="medias/paysage.jpg">
<p id="legendes">legende | source | licence</p>

<p>Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus et ab eis ita amantur ut facile earum sensus appareat. Quod in homine multo est evidentius, primum ex ea caritate quae est inter natos et parentes, quae dirimi nisi detestabili scelere non potest; deinde cum similis sensus exstitit amoris, si aliquem nacti sumus cuius cum moribus et natura congruamus, quod in eo quasi lumen aliquod probitatis et virtutis perspicere videamur.</p>

<p>Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
</p>    

<iframe width="560" height="315" src="https://www.youtube.com/embed/iazUhPfpjvw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.
</p>    

<p>Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.
</p>    

<a href="http://esac-cambrai.net" target="_blank">Site web</a>

</div>

<div id="footer">
    <p>[1] Homines enim eruditos et sobrios ut infaustos et inutiles vitant, eo quoque accedente quod.</p>
    <p>[2] Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile.</p>
</div>

<div id="bibliographie">
<p>Bibliographie :</p>
    <p>
        <b>FLICHY Patrice</b>, <i>Le sacre de l’amateur. Sociologie des passions ordinaires à l’ère du numérique</i>, Paris&nbsp;:&nbsp;Ed. du Seuil, 2010.
    </p>
    <p>
        <b>FOURMENTRAUX Jean-Paul (dir.)</b>, <i>L’ère post-media. Humanités digitales et cultures numériques</i>, Paris&nbsp;:&nbsp;Hermann, 2013.

    </p>    
</div>

</body>

