@font-face {
    font-family: police1;
    src:url("font/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: police2;
    src:url("font/OpenSans-Bold.ttf");
}

@font-face {
    font-family: police3;
    src:url("font/OpenSans-Regular.ttf");
}


body {
    background-color: black;
    color: white;
}

/* Titres et sous titres */
#en-tete {
margin-left: 5%;
}

/* intro */
#intro {
    font-family: police2;
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 50%;
}

/* paragraphe de l'article */
#contenu {
    margin-left: 10%;
    width: 50%;    
}

/* notes de bas de page */
#footer {
    margin-left: 10%;
    margin-top: 80px;
    width: 50%;    
    border-top:solid;
}

/* biblio */
#bibliographie {
    margin-left: 10%;
    margin-top: 80px;
    width: 50%;    
    border-top:solid;
}

/* titre */
h1 {
    font-family: police1;
    font-size: 4vw;
    width: 50%;
}

/* sous-titres */
h2 {
    font-family: police1;
    padding: 0px;
    margin: 0px;
}


/* paragraphes */
p {
    font-family: police3;
}

/* liens */
a {
    font-family: police3;
    color: white;
    text-decoration: none;
    border-bottom: dotted 3px;

}

/* citations */
#citation {
    font-family: police2;
    font-size: 1.4vw;
    width: 60%;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:50px;

}

/* images */
img {
    width: 100%;
}

/* legendes */
#legendes {
    font-family: police3;
    font-size: 0.8vw;  
}

/* player video vimeo */
iframe{
    width: 100%;
    margin: 2%;
}

/* texte souscrit, exposant */
sup {
    font-family: police3;
    font-size:0.7vw;
    font-weight: bold;
}



/******************************** RESPONSIVE ********************************/
@media screen and (max-width : 1024px) and (orientation : portrait) {
  
 h1 {
    font-size: 100px;
 }   

/* intro */
#intro {
    font-family: police2;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 95%;   
}

/* paragraphe de l'article */
#contenu {
    margin-left: 1%;
    margin-right: 1%;
    width: 95%;   
    font-size: 30px; 
}

/* notes de bas de page */
#footer {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 80px;
    width: 95%;     
    border-top:solid;
}


#bibliographie {
    margin-left: 1%;
    width: 95%;     
}

#citation {
    font-size: 50px; 
}

#legendes {
    font-size: 15px;
    margin-bottom: 80px;
}
}