html,
body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

main {
  overflow-x: hidden;
  display: flex;
}

/* titre principal */
h1 {
  margin: 0;
  padding: 0;
  font-size: 70px;
}


/* sous titres */
h2 {
  font-size: 40px;
}

/* les paragraphes */ 
p {
  font-size: 20px;
  width: 80%;
  display: block;
}

/* les images */
img {
  width: 60%;
  display: inline-block;  
}


/* les liens */
a {
 font-size: 20px;
  text-decoration: none;
  border-bottom: dotted 3px;

}

/* le cadre qui contient image + légende */
.image {
  margin-bottom: 20px;
}

/* les légendes */

.legende {
  font-size: 20px;
  width: 30%;
  display: inline-block;
}


/* citations */
#citation {
  font-weight: bold;
  margin: 20px;
}

/* médias youtube , vimeo, peertube , france radio, soundcloud .. */

iframe {
  margin-left: 10%;
}


section {
  min-width: 50vw;
  min-height: 100vh;
 /* display: flex; */
  padding: 1%;
  font-size: 4ch;  
  justify-content: center; /* aligner horizontalement au centre */
  align-items: center;  /* aligner verticalement au centre */
}



section:nth-child(even) {
  background-color: black;
  color: white;  
}



/* version téléphone portable */
@media screen and (max-width : 1024px) and (orientation : portrait) {
  
  section {
    min-width: 100vw;
    min-height: 100vh;
  }

  main {
    overflow-x: scroll;
  }

  p {

    font-size: 12px;
    width: 80%;
    display: block;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

} 




























/* SMARTPHONE MODE PORTRAIT */
@media screen and (orientation: portrait) {

   

}