body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: police1;
    src: url("fonts/WorkSans-Medium.ttf");
}

p, h2, h1 {
    font-family: police1;
  }
  section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
  section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
  }
  section.module.content {
    padding: 40px 0;
  }
  section.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  section.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  section.module.parallax-1 {
    background-image: url("medias/img01.jpeg");
    background-size:100% !important;
  }
  section.module.parallax-2 {
    background-image: url("medias/img02.jpeg");
  }
  section.module.parallax-3 {
    background-image: url("medias/img03.jpeg");
  }
  section.module.parallax-4 {
    background-image: url("medias/img04.jpeg");
  }
  @media all and (min-width: 600px) {
    section.module h2 {
      font-size: 42px;
    }
    section.module p {
      font-size: 20px;
    }
    section.module.parallax h1 {
      font-size: 96px;
    }
  }
  @media all and (min-width: 960px) {
    section.module.parallax h1 {
      font-size: 160px;
    }
  }
  
  .slide {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
  }
  
  .hasSlid {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  
  .padding-enlarge {
     -moz-transition: padding-top .15s ease-in-out, padding-bottom .15s ease-in-out;
       -o-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
       -webkit-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
       transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
  }
  
  .padding-enlarge:hover {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer{
    background-color: #1D1E22;
    color:#fff;
  }




/* SMARTPHONE MODE PORTRAIT */
@media screen and (orientation: portrait) {

   

}